.wrapper {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: var(--white-color);
    cursor: pointer;

    & .box-icon {
        margin-right: 24px;
    }

    & .title {
        flex: 1;
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: 500;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-transform: initial;
        margin: 0;
    }
}

.only-title {
    display: inline-flex;
    align-items: center;
    height: 32px;
    min-width: 12px;
    padding: 0 12px;
    margin: 12px 12px 12px 0;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: var(--white-color);
    font-weight: 500;
    background-color: var(--layer-color);
    border-radius: 8px;
    transition: background-color 0.5s cubic-bezier(0.05, 0, 0, 1);
    cursor: pointer;

    & .title {
        flex: 1;
        font-size: 1.4rem;
        line-height: 2rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-transform: initial;
        margin: 0;
    }

    &.active {
        background-color: var(--white-color);
        color: var(--dark-color);

        &:hover {
            background-color: var(--white-color);
        }
    }

    &:hover {
        background-color: var(--hover-color);
    }
}
