.contents {
    width: 100%;
    display: flex;
    align-items: flex-start;
    max-width: 100%;
    margin-top: var(--height-header);
    overflow: hidden;

    &.watching {
        position: relative;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    & .content {
        width: 84%;
        flex: 0 0 84%;
        margin-left: 52px;
    }

    & .overlay {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: var(--overlay-watch-layout-color);
        width: 100%;
        display: none;
        transition: display 100ms linear 100ms;
        z-index: 99;

        &.show {
            display: block;
        }
    }
}
